$bgc: #cc9756;
$width: 100%;
$center-width: 1090px;
$height: 36px;
$center: center;
$left: left;
$right: right;
$color: #333;


//header部分
.header{
    width: $width;
    height: $height;
    line-height: $height;
    background-color: $color;
    .header-box{
        width: $center-width;
        height: $height;
        line-height: $height;
        margin: 0 auto;
        // background-color: red;
        .head-left{
            width: 278px;
            height: $height;
            // background-color: green;
            float: $left;
            position: relative;
            div{
                padding-left: 26px;
                a{
                    color: $bgc;
                    font-size: 12px;
                    border-bottom: 1px solid $bgc;
                    &:hover {color: #fff;}
                    img{
                        position: absolute;
                        left: 0;
                        top: 13px;
                    }
                }
            }
            
        }
        .head-right{
            float: $right;
            height: $height;
            line-height: $height;
            .list{
                li{
                    float: left;
                    a{
                        height: $height;
                        line-height: $height;
                        text-align: $center;
                        color: #ccc;
                        font-size: 12px;
                        span{
                            margin: 0 10px;
                        }
                        i{
                            margin-left: 10px;
                        }
                        .last{
                            margin-left: 0;
                            margin-right: 6px;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
    } 
}

//nav部分
.nav{
    width: $width;
    // background-color: red;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    .nav-box{
        width: $center-width;
        margin: 0 auto;
        // background: green;
        overflow: hidden;
        .nav-top{
            // background-color: yellow;
            padding-top: 24px;
            width: $center-width;
            overflow: hidden;
            .nav-left{
                width: 212px;
                // background-color: green;
                height: 60px;
                float: left;
                a{
                    width: 212px;
                    height: 60px;
                    display: inline-block;
                    i{ 
                        width: 212px;
                        height: 60px;
                        display: block;
                        background: url(../img/icon-yxtop.webp) no-repeat;
                        background-position: 0 -298px;
                    }
                }
            }
            .nav-center{
                float: right;
                position: relative;
                width: 532px;
                height: 38px;
                .nav-inp{
                    width: 442px;
                    height: 38px;
                    padding-left: 38px;
                    border: 1px solid $bgc;
                    border-bottom-left-radius: 19px;
                    border-top-left-radius: 19px;
                    position: relative;
                }
                .nav-search{
                    width: 90px;
                    height: 38px;
                    border: 1px solid $bgc;
                    border-bottom-right-radius: 19px;
                    border-top-right-radius: 19px;
                    border-left: none;
                    background-color: $bgc;
                    position: absolute;
                    top: 0;
                    left: 442px;
                }
                .nav-show{
                    a{
                        color: $bgc;
                        font-size: 12px;
                        padding: 0 10px;
                    }
                    span{
                        font-size: 12px;
                        color: $bgc;
                    }
                }
                .font{
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    font-size: 16px;
                    color: #ccc;
                    z-index: 5;
                }
            }
            .nav-right{
                width: 134px;
                height: 38px;
                line-height: 38px;
                text-align: $center;
                float: right;
                border: 1px solid $bgc;
                border-radius: 19px;
                margin-left: 49px;
                position: relative;
                a{
                    font-size: 14px;
                    color: $bgc;
                    i{
                        color: $bgc;
                        font-size: 20px;
                        margin-left: 22px;
                        float: left;
                    }
                    .cart{
                        color: 14px;
                        float: left;
                        margin-left: 5px;
                    }
                    .o{
                        width: 19px;
                        height: 19px;
                        line-height: 19px;
                        text-align: $center;
                        display: block;
                        background-color: red;
                        color: #fff;
                        float: left;
                        margin-left: 10px;
                        margin-top: 8px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .nav-buttom{
            width: $width;
            // background-color: blue;
            .nav-list{
                overflow: hidden;
                li{
                    margin-top: 27px;
                    float: left;
                    padding: 0 26px;
                    font-size: 14px;
                    a{
                        font-size: 14px;
                        display: block;
                        padding-bottom: 7px;
                        border-bottom: 3px solid #fff;
                        font-weight: bold;
                        &:hover{
                            color: $bgc;
                            border-bottom: 3px solid $bgc;
                        }
                    }
                }
                .one{
                    padding-left: 0;
                    a{
                        border-bottom: 3px solid $bgc;
                        color: $bgc;
                    }
                }
                .ten{
                    padding-right: 0;
                }
            }
        }
    }
}

//banner部分
.banner{
    width: $width;
    overflow: hidden;
    .banner-box{
        width: 1090px;
        position: relative;
        left: 50%;
        margin-left: -960px;
    }
}

//new部分
.new{
    width: $width;
    position: relative;
    //new部分
    .new-box{
        width: $center-width;
        margin: 30px auto;
        padding-bottom: 100px;
        position: relative;
        // background-color: red;
        .new-tit{
            // background: green;
            margin-bottom: 20px;
            h1{
                display: inline-block;
                font-size: 28px;
                color: $color;
                a{
                    &:hover{
                        color: $bgc;
                    }
                }
            }
            h5{
                font-size: 14px;
                color: $color;
                padding-left: 20px;
                display: inline-block;
                display: inline;
            }
        }
        .swiper{
            // background-color: orange;
            .swiper-prev{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #e2c199;
                color: #fff;
                line-height: 50px;
                text-align: $center;
                span{
                    font-size: 32px;
                }
            }
            .swiper-next{
                z-index: 999;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #e2c199;
                color: #fff;
                line-height: 50px;
                text-align: $center;
                span{
                    font-size: 26px;
                }
            }
            .swiper-box{
                .swiper-text{
                    .lilili{
                        overflow: hidden;
                        li{
                            width: 265px;
                            float: left;
                            background-color: #fff;
                            margin-left: 7px;
                            .li-one{
                                a{
                                    img{
                                        width: 265px;
                                        height: 265px;
                                        display: inline-block;
                                    }
                                } 
                            }
                            .li-two{
                                font-size: 13px;
                                text-align: $center;
                                width: 265px;
                                margin-top: 23px;
                                h4{
                                    
                                    width: 166px;
                                    line-height: 20px;
                                    padding: 0 auto 4px;
                                    margin: 0 50px 4px;
                                    overflow: hidden;
                                    a{
                                        color: $color;
                                    }
                                }
                                span{
                                    padding: 1px 0 9px;
                                }
                            }
                        }
                        .lili{
                            margin-left: 0;
                        }
                    }
                }
            }

        }
    }
    //吸顶部分
    .xiding-l{
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        ul{
            li{
                width: 108px;
                border: 1px solid #bb3343;
                font-size: 16px;
                text-align:$center;
                height: 38px;
                line-height: 38px;
                font-weight: 700;
                padding: 3px 11px 0;
                a{
                    img{
                        float: $left;
                        width: 30px;
                        height: 30px;
                    }
                    span{
                        float: left;
                        font-size: 12px;
                        line-height: 14px;
                        width: 38px;
                        color: #bb3343;
                    }
                }
                
            }
        }
    }
}

//list部分
.lists{
    width: $width;
    background: #f4f0ea;
    //renqi部分
    .renqi{
        width: $center-width;
        margin: 0 auto;
        padding: 60px 0;
        .renqi-top{
            // background-color: orchid;
            padding-bottom: 20px;
            font-size: 14px;
            overflow: hidden;
            text-align: $center;
            h3{
                font-size: 28px;
                color: $color;
                margin-right: 20px;
                float: $left;
                line-height: 1;
                a{
                    color: $color;
                    &:hover{
                        color: $bgc;
                    }
                }
                
            }
            h6{
                float: $left;
                a{
                    margin-right: 55px;
                    padding-bottom: 2px;
                    border-bottom: 2px solid $bgc;
                    color: $bgc;
                }
            }
            h4{
                a{
                    color: $color;
                    &:hover{
                        color: $bgc;
                    }
                }
                float: left;
                
            h2{
                float: $right;
            }
        }
        }
        .renqi-bottom{
            overflow: hidden;
            .renqi-left{
                width: 390px;
                height: 570px;
                background-color: #fff;
                float: left;
                .left-i{
                    div{
                        border: 1px solid #fff;
                        img{
                            width: 320px;
                            height: 320px;
                            display: block;
                            margin: 40px 35px;
                            background-color: #fff;
                        }
                    }
                }
                .left-b{
                    text-align: $center;
                    line-height: 26px;
                    font-size: 18px;
                    .left-s{
                        padding-bottom: 10px;
                        span{
                            height: 20px;
                            line-height: 20px;
                            font-size: 12px;
                            color: #fff;
                            background-color: #e36844;
                            padding: 0 5px;
                        }
                    }
                    h3{
                        width: 248px;
                        line-height: 26px;
                        margin: 0 auto 13px;
                        a{
                            font-weight: bold;
                            color: $color;
                            margin-bottom: 13px;
                        }
                    }
                    i{
                        color: #d4282d;
                        padding: 1px 0 9px;
                    }
                }
            }
            .renqi-right{
                // background-color: blue;
                overflow: hidden;
                ul{
                    overflow: hidden;
                    li{
                        width: 223px;
                        float: left;
                        // background-color: orange;
                        margin: 0 5px;
                        .li-one{
                            width: 223px;
                            height: 180px;
                            // background-color: purple;
                            a{
                                width: 123px;
                                height: 180px;
                                display: block;
                                img{
                                    width: 180px;
                                    height: 180px;
                                    display: inline-block;
                                    margin: 0 21.5px;
                                }
                            }
                        }
                        .li-two{
                            text-align: $center;
                            line-height: 26px;
                            font-size: 18px;
                            .left-s{
                                span{
                                    height: 20px;
                                    line-height: 20px;
                                    font-size: 12px;
                                    color: #fff;
                                    background-color: #e36844;
                                    margin-bottom: 4px;
                                }
                            }
                            h3{
                                width: 136px;
                                font-size: 12px;
                                margin:0 auto 4px;
                                line-height: 20px;
                                a{
                                    font-weight: bold;
                                    color: $color;
                                    margin-bottom: 13px;
                                }
                            }
                            i{
                                font-size: 13px;
                                color: #d4282d;
                                padding: 1px 0 9px;
                            }
                        }
                    }
                    .lili{
                        margin-bottom: 14px;
                    }
                }
            }
            
        }
    }
}

//foot部分
.foot{
    width: $width;
    background-color: #414141;
    .foot-box{
        width: $center-width;
        overflow: hidden;
        height: 268px;
        padding-top: 37px;
        margin: 0 auto;
        ul{
            overflow: hidden;
            li{
                float: $left;
                div{
                    line-height: 50px;
                    text-align: $center;
                    i{
                        // display: inline-block;
                        height: 50px;
                        width: 50px;
                        background: url(../img/icon-yxfoot.webp) no-repeat;
                        background-position: 0 -134px;
                        margin-right: 17px;
                        float: $left;
                    }
                    span{
                        font-size: 18px;
                        height: 50px;
                        line-height: 50px;
                        color: #fff;
                        float: $left;
                    }
                }
                
            }
            .lil{
                margin: 0 122px;
            }
            .lili{
                margin-right: 122px;
            }
            .lii{
                float: $right;
            }
        }
    }
}

