$bgc: #cc9756;
$width: 100%;
$center-width: 1090px;
$height: 36px;
$center: center;
$left: left;
$right: right;
$color: #333;


//header部分
.header{
    width: $width;
    height: $height;
    line-height: $height;
    background-color: $color;
    .header-box{
        width: $center-width;
        height: $height;
        line-height: $height;
        margin: 0 auto;
        // background-color: red;
        .head-left{
            width: 278px;
            height: $height;
            // background-color: green;
            float: $left;
            position: relative;
            div{
                padding-left: 26px;
                a{
                    color: $bgc;
                    font-size: 12px;
                    border-bottom: 1px solid $bgc;
                    &:hover {color: #fff;}
                    img{
                        position: absolute;
                        left: 0;
                        top: 13px;
                    }
                }
            }
            
        }
        .head-right{
            float: $right;
            height: $height;
            line-height: $height;
            .list{
                li{
                    float: left;
                    a{
                        height: $height;
                        line-height: $height;
                        text-align: $center;
                        color: #ccc;
                        font-size: 12px;
                        span{
                            margin: 0 10px;
                        }
                        i{
                            margin-left: 10px;
                        }
                        .last{
                            margin-left: 0;
                            margin-right: 6px;
                        }
                        &:hover{
                            color: #fff;
                        }
                    }
                    
                }
            }
        }
    } 
}

//nav部分
.nav{
    width: $width;
    // background-color: red;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    .nav-box{
        width: $center-width;
        margin: 0 auto;
        // background: green;
        overflow: hidden;
        .nav-top{
            // background-color: yellow;
            padding-top: 24px;
            width: $center-width;
            overflow: hidden;
            .nav-left{
                width: 212px;
                // background-color: green;
                height: 60px;
                float: left;
                a{
                    width: 212px;
                    height: 60px;
                    display: inline-block;
                    i{ 
                        width: 212px;
                        height: 60px;
                        display: block;
                        background: url(../img/icon-yxtop.webp) no-repeat;
                        background-position: 0 -298px;
                    }
                }
            }
            .nav-center{
                float: right;
                position: relative;
                width: 532px;
                height: 38px;
                .nav-inp{
                    width: 442px;
                    height: 38px;
                    padding-left: 38px;
                    border: 1px solid $bgc;
                    border-bottom-left-radius: 19px;
                    border-top-left-radius: 19px;
                    position: relative;
                }
                .nav-search{
                    width: 90px;
                    height: 38px;
                    border: 1px solid $bgc;
                    border-bottom-right-radius: 19px;
                    border-top-right-radius: 19px;
                    border-left: none;
                    background-color: $bgc;
                    position: absolute;
                    top: 0;
                    left: 442px;
                }
                .nav-show{
                    a{
                        color: $bgc;
                        font-size: 12px;
                        padding: 0 10px;
                    }
                    span{
                        font-size: 12px;
                        color: $bgc;
                    }
                }
                .font{
                    position: absolute;
                    top: 12px;
                    left: 20px;
                    font-size: 16px;
                    color: #ccc;
                    z-index: 5;
                }
            }
            .nav-right{
                width: 134px;
                height: 38px;
                line-height: 38px;
                text-align: $center;
                float: right;
                border: 1px solid $bgc;
                border-radius: 19px;
                margin-left: 49px;
                position: relative;
                a{
                    font-size: 14px;
                    color: $bgc;
                    i{
                        color: $bgc;
                        font-size: 20px;
                        margin-left: 22px;
                        float: left;
                    }
                    .cart{
                        font-size: 14px;
                        float: left;
                        margin-left: 5px;
                    }
                    .o{
                        width: 19px;
                        height: 19px;
                        line-height: 19px;
                        text-align: $center;
                        display: block;
                        background-color: red;
                        color: #fff;
                        float: left;
                        margin-left: 10px;
                        margin-top: 8px;
                        border-radius: 50%;
                    }
                }
            }
        }
        .nav-buttom{
            width: $width;
            // background-color: blue;
            .nav-list{
                overflow: hidden;
                li{
                    margin-top: 27px;
                    float: left;
                    padding: 0 26px;
                    font-size: 14px;
                    a{
                        font-size: 14px;
                        display: block;
                        padding-bottom: 7px;
                        border-bottom: 3px solid #fff;
                        color: #000;
                        font-weight: bold;
                        &:hover{
                            color: $bgc;
                            border-bottom: 3px solid $bgc;
                        }
                    }
                }
                .one{
                    padding-left: 0;
                    a{
                        border-bottom: 3px solid $bgc;
                        color: $bgc;
                    }
                }
                .ten{
                    padding-right: 0;
                }
            }
        }
    }
}

// text部分
.text{
    .text-box{
        // background-color: green;
        width: 1090px;
        overflow: hidden;
        margin: 0 auto;
        .text-top{
            overflow: hidden;
            // background-color: red;
            padding: 20px 0;
            li{
                float: left;
                font-size: 12px;
                i{
                    padding: 0 7px;
                }
            }
        }
        .text-bottom{
            overflow: hidden;
            .text-lef{
                width: 430px;
                float: $left;
                margin-right: 16px;
                .lef-t{
                    width: 430px;
                    height: 430px;
                    position: relative;
                    img{
                        border: 1px solid #ccc;
                        display: block;
                        width: 430px;
                        height: 430px;
                    }
                    .mask-img{
                        width: 215px;
                        height: 215px;
                        background-color: orange;
                        opacity: 0.4;
                        position: absolute;
                        left: 0;
                        top: 0;
                        cursor: move;
                        display: none;
                      }
                }
                .lef-b{
                    height: 76px;
                    // background-color: yellow;
                    line-height: 76px;
                    text-align: $center;
                    margin-top: 20px;
                    border: 1px solid #ccc;
                }
            }
            .text-rig{
                width: 620px;
                float: right;
                position: relative;
                overflow: hidden;
                .rig-t{
                    width: 620px;
                    float: left;
                    // height: 650px;
                    .image{
                        width: 620px;
                        height: 405px;
                        display: block;
                    }
                }
                .move{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 310px;
                    height: 310px;
                    background: red;
                    overflow: hidden;
                    display: none;
                    img{
                        width: 620px;
                        height: 620px;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
                .rig-c{
                    margin-top: 20px;
                    // background-color: #ccc;
                    color: #333;
                    font-size: 12px;
                    margin-left: 12px;
                    float: left;
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    .c-1{
                        overflow: hidden;
                        span{
                            width: 54px;
                            float: $left;
                        }
                        div{
                            line-height: 26px;
                            text-align: $center;
                            padding: 0 16px;
                            border: 2px solid #b4a078;
                            float: $left;
                        }
                    }
                    .c-2{
                        margin-top: 10px;
                        background-color: #fff;
                        overflow: hidden;
                        
                        span{
                            width: 54px;
                            line-height: 30px;
                            float: $left;
                        }
                        .btn-box{
                            border: 1px solid #ccc;
                            float: $left;
                            .btn-1{
                                width: 36px;
                                height: 30px;
                                line-height: 28px;
                                float: left;
                                background-color: #fff;
                                color: #ccc;
                                cursor: pointer;
                                border: none;
                                border-right: 1px solid #ccc;
                            }
                            div{
                                width: 60px;
                                height: 30px;
                                text-align: $center;
                                line-height: 26px;
                                float: left;
                                background-color: #fff;
                                outline: 0;
                                border: 0;
                                box-sizing: border-box;
                            }
                            .btn-2{
                                width: 36px;
                                height: 30px;
                                line-height: 28px;
                                float: left;
                                background-color: #fff;
                                color: #ccc;
                                cursor: pointer;
                                border: none;
                                border-left: 1px solid #ccc;
                            }
                        }

                    }
                }
                .rig-b{
                    margin-left: 12px;
                    margin-top: 30px;
                    // background-color: pink;
                    overflow: hidden;
                    float: left;
                    margin-bottom: 20px;
                    .b-1{
                        margin-right: 10px;
                        float: left;
                        width: 168px;
                        height: 50px;
                        line-height: 50px;
                        font-size: 18px;
                        text-align: center;
                        background-color: #f5f3ef;
                        border: 1px solid #b4a078;
                        color: #b4a078;
                    }
                    .b-2{
                        font-weight: bold;
                        color: #fff;
                        float: $left;
                        width: 168px;
                        line-height: 50px;
                        height: 50px;
                        text-align: $center;
                        background-color: #b4a078;
                        margin-right: 10px;
                        cursor: pointer;
                        span{
                            margin-right: 8px;
                        }
                    }
                    .b-3{
                        float: left;
                        position: relative;
                        height: 50px;
                        width: 50px;
                        border: 1px solid #ccc;
                        overflow: hidden;
                        vertical-align: middle;
                        text-align: center;
                        cursor: pointer;
                        span{
                            position: relative;
                            margin-top: 6px;
                            color: #999;
                            height: 24px;
                        }
                        div{
                            font-size: 13px;
                            color: #999;
                            margin-top: 6px;
                        }
                        
                    }
                }
            }
        }
    }
}